<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Загрузка-данных" data-toc-modified-id="Загрузка-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Загрузка данных</a></span><ul class="toc-item"><li><span><a href="#Информация-о-датафрейме" data-toc-modified-id="Информация-о-датафрейме-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Информация о датафрейме</a></span></li><li><span><a href="#Типы-данных" data-toc-modified-id="Типы-данных-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Типы данных</a></span></li><li><span><a href="#Дубликаты" data-toc-modified-id="Дубликаты-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Дубликаты</a></span></li><li><span><a href="#Вывод" data-toc-modified-id="Вывод-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Вывод</a></span></li></ul></li><li><span><a href="#Умножение-матриц" data-toc-modified-id="Умножение-матриц-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Умножение матриц</a></span></li><li><span><a href="#Алгоритм-преобразования" data-toc-modified-id="Алгоритм-преобразования-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Алгоритм преобразования</a></span></li><li><span><a href="#Проверка-алгоритма" data-toc-modified-id="Проверка-алгоритма-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Проверка алгоритма</a></span><ul class="toc-item"><li><span><a href="#Вывод" data-toc-modified-id="Вывод-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Вывод</a></span></li></ul></li><li><span><a href="#Декодирование-данных" data-toc-modified-id="Декодирование-данных-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Декодирование данных</a></span></li><li><span><a href="#Вывод" data-toc-modified-id="Вывод-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Вывод</a></span></li><li><span><a href="#Чек-лист-проверки" data-toc-modified-id="Чек-лист-проверки-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Чек-лист проверки</a></span></li></ul></div>

# Защита персональных данных клиентов

Вам нужно защитить данные клиентов страховой компании «Хоть потоп». Разработайте такой метод преобразования данных, чтобы по ним было сложно восстановить персональную информацию. Обоснуйте корректность его работы.

Нужно защитить данные, чтобы при преобразовании качество моделей машинного обучения не ухудшилось. Подбирать наилучшую модель не требуется.

Описание данных:

Признаки: пол, возраст и зарплата застрахованного, количество членов его семьи.

Целевой признак: количество страховых выплат клиенту за последние 5 лет.

## Загрузка данных

In [1]:
import pandas as pd
from IPython.display import display_markdown
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [2]:
data = pd.read_csv('/datasets/insurance.csv')

In [3]:
def show_info(df):
    display_markdown('### Первые 5 строк данных', raw=True)
    display(df.head())
    display_markdown('### Информация о датафрейме', raw=True)
    display(df.info())
    display_markdown('### Количество пропусков',  raw=True)
    display(df.isna().sum())
    display_markdown('### Количество дубликатов', raw=True)
    display(df.duplicated().sum())
    display_markdown('### Статистика столбцов', raw=True)
    display(df.describe())

### Информация о датафрейме

In [4]:
show_info(data)

### Первые 5 строк данных

   Пол  Возраст  Зарплата  Члены семьи  Страховые выплаты
0    1     41.0   49600.0            1                  0
1    0     46.0   38000.0            1                  1
2    0     29.0   21000.0            0                  0
3    0     21.0   41700.0            2                  0
4    1     28.0   26100.0            0                  0

### Информация о датафрейме

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Пол                5000 non-null   int64
 1   Возраст            5000 non-null   float64
 2   Зарплата           5000 non-null   float64
 3   Члены семьи        5000 non-null   int64
 4   Страховые выплаты  5000 non-null   int64
dtypes: float64(2), int64(3)
memory usage: 195.4 KB

None

### Количество пропусков

Пол                  0
Возраст              0
Зарплата             0
Члены семьи          0
Страховые выплаты    0
dtype: int64

### Количество дубликатов

153

### Статистика столбцов

               Пол      Возраст      Зарплата  Члены семьи  Страховые выплаты
count  5000.000000  5000.000000   5000.000000  5000.000000        5000.000000
mean      0.499000    30.952800  39916.360000     1.194200           0.148000
std       0.500049     8.440807   9900.083569     1.091387           0.463183
min       0.000000    18.000000   5300.000000     0.000000           0.000000
25%       0.000000    24.000000  33300.000000     0.000000           0.000000
50%       0.000000    30.000000  40200.000000     1.000000           0.000000
75%       1.000000    37.000000  46600.000000     2.000000           0.000000
max       1.000000    65.000000  79000.000000     6.000000           5.000000

### Типы данных

Приведем данные в колонках "Возраст" и "Зарплата" к целочисленному типу

In [5]:
data['Возраст'] = data['Возраст'].astype(int)
data['Зарплата'] = data['Зарплата'].astype(int)

### Дубликаты

Есть дубликаты - удалим их

In [6]:
data = data.drop_duplicates().reset_index(drop=True)

### Вывод

Данные были загружены и изучена информация.

Проведена предобработка данных, пропусков в данных нет, дубликаты удалены, данные приведены к единому целочисленному типу данных

Целевой признак - колонка "Страховые выплаты"

4 остальных признака - колонки  "Пол", "Возраст", "Зарплата", "Члены семьи"

## Умножение матриц

В этом задании вы можете записывать формулы в *Jupyter Notebook.*

Чтобы записать формулу внутри текста, окружите её символами доллара \\$; если снаружи —  двойными символами \\$\\$. Эти формулы записываются на языке вёрстки *LaTeX.* 

Для примера мы записали формулы линейной регрессии. Можете их скопировать и отредактировать, чтобы решить задачу.

Работать в *LaTeX* необязательно.

Обозначения:

- $X$ — матрица признаков (нулевой столбец состоит из единиц)

- $y$ — вектор целевого признака

- $P$ — матрица, на которую умножаются признаки

- $w$ — вектор весов линейной регрессии (нулевой элемент равен сдвигу)

Предсказания:

$$
a = Xw
$$

Задача обучения:

$$
w = \arg\min_w MSE(Xw, y)
$$

Формула обучения:

$$
w = (X^T X)^{-1} X^T y
$$

**Ответ:** При умножении признаков на обратимую матрицу качество линейной регрессии не изменится. Предсказания $a$ равны $a_1$

**Обоснование:** Докажем, что $a = a_1$

$$
a_1 = XPw_1
$$

$$
w_1 = ((XP)^T XP)^{-1} (XP)^T y
$$

Подставим в формулу:

$$
a_1 = XP((XP)^T XP)^{-1} (XP)^T y
$$

Так как $(AB)^T = B^T A^T$:

$$
a_1 = XP(P^T(X^T X)P)^{-1} P^T X^T y
$$

Так как $(AB)^{-1} = B^{-1}A^{-1}$:

$$
a_1 = XPP^{-1} (X^T X)^{-1} (P^T)^{-1} P^T X^T y
$$

Так как $AA^{-1} = A^{-1}A = E$:

$$
a_1 = XE (X^T X)^{-1} EX^T y
$$

Так как $AE = EA = A$:

$$
a_1 = X (X^T X)^{-1} X^T y
$$

Так как $(X^T X)^{-1} X^T y = w$:

$$
a_1 = Xw
$$

$$
a_1 = a
$$

Из формулы выше:

$$
w_1 = P^{-1} (X^T X)^{-1} X^T y
$$

$$
w_1 = P^{-1}w
$$

## Алгоритм преобразования

**Алгоритм**

Мы сгенерируем квадратную матрицу размером 4х4 - по количеству столбцов признаков - проверим ее на обратимость и умножим на матрицу признаков.

Посчитаем качество модели, обученной на исходных признаках и сравним с качеством модели, обученной на зашифрованных признаках.

**Обоснование**

Мы доказали, что предсказания для моделей будут одинаковы, а значит и метрики R2 должны быть равны

## Проверка алгоритма

In [7]:
features = data.drop('Страховые выплаты', axis=1)
target = data['Страховые выплаты']

Сгенерируем квадратную матрицу и проверим, что она обратима.

In [8]:
square_matrix = np.random.normal(size=(4, 4))
square_matrix

array([[-0.60564536,  0.12087595, -0.90164624, -0.5900352 ],
       [-0.38756642, -1.01281297,  0.86352245, -2.37981623],
       [-1.13878758, -0.70495153,  0.0999105 , -0.15743416],
       [ 0.09692805, -0.33849726,  0.19229509,  1.13327919]])

In [9]:
inverted_matrix = np.linalg.inv(square_matrix)
inverted_matrix

array([[ 0.65984683,  0.54758273, -1.3037171 ,  1.31232404],
       [-1.2598458 , -0.87316315,  0.76433575, -2.38333913],
       [-1.61764354, -0.31897572,  0.85023003, -1.39393276],
       [-0.158255  , -0.25351387,  0.19553633,  0.29480084]])

Умножим матрицу признаков на квадратную матрицу

In [10]:
encrypted_matrix = features.values@square_matrix
encrypted_features = pd.DataFrame(encrypted_matrix, columns=features.columns)
encrypted_features

               Пол       Возраст     Зарплата  Члены семьи
0    -56500.263001 -35007.338716  4990.256053 -7905.763360
1    -43291.659238 -26835.085938  3836.513468 -6090.836196
2    -23925.778645 -14833.353653  2123.162729 -3375.131947
3    -47495.387202 -29418.424763  4184.786566 -6612.713888
4    -29733.813392 -18427.472754  2630.941129 -4176.256362
...            ...           ...          ...          ...
4842 -40665.374676 -25195.805288  3591.368201 -5684.767666
4843 -59685.549619 -36974.234178  5264.862452 -8329.330248
4844 -38612.456497 -23918.790035  3404.621115 -5382.347655
4845 -37247.195249 -23075.091450  3285.746204 -5197.643056
4846 -46246.136400 -28649.608400  4079.835728 -6457.918345

[4847 rows x 4 columns]

Обучим модель на начальных данных

In [11]:
model = LinearRegression()
model.fit(features, target)
predictions = model.predict(features)
print(r2_score(target, predictions))

0.4302010046633359

Теперь обучим модель на зашифрованных данных

In [12]:
model = LinearRegression()
model.fit(encrypted_features, target)
predictions = model.predict(encrypted_features)
print(r2_score(target, predictions))

0.4302010046633361

### Вывод

Мы видим, что метрики отличаются незначительно, а значит, данные зашифрованы правильно.

## Декодирование данных

$$
(XP)P^{-1} = XE = X
$$

Умножим матрицу с зашифрованными данными на матрицу, обратную нашей квадратной матрице

In [13]:
decoded_matrix = encrypted_matrix@inverted_matrix

In [14]:
decoded_features = pd.DataFrame(decoded_matrix.round(0).astype(int), columns=features.columns)
decoded_features.head(10)

   Пол  Возраст  Зарплата  Члены семьи
0    1       41     49600            1
1    0       46     38000            1
2    0       29     21000            0
3    0       21     41700            2
4    1       28     26100            0
5    1       43     41000            2
6    1       39     39700            2
7    1       25     38600            4
8    1       36     49700            1
9    1       32     51700            1

In [15]:
decoded_features.compare(features)

Empty DataFrame
Columns: []
Index: []

Различий между декодированным датафреймом и исходным не обнаружено. Данные декодированы успешно.

## Вывод

- Данные были загружены и изучена информация.

- Проведена предобработка данных, пропусков в данных нет, дубликаты удалены, данные приведены к единому целочисленному типу данных

- Доказано, что вектор предсказаний не изменится, если матрицу исходных данных умножить на обратимую квадратную матрицу, а значит не изменится и метрика модели, обученной на зашифрованных данных.

- Предложен алгоритм шифрования данных, согласно которому генерируется обратимая квадратная матрица размером 4х4 по количеству признаков и на нее умножается матрица признаков.

- Алгоритм был проверен на исходных и на зашифрованных данных, оба раза модель показала одинаковые метрики R2 = 0,43

- Исходя из этого можно с уверенностью сказать, что данный метод подходит для шифрования данных.

- Умножив зашифрованные данные на матрицу, обратную нашей квадратной матрице, можно их успешно декодировать.